<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>실습 결과 예시</title>

    <!-- TODO: CSS 연결 -->
    <!-- <link rel="stylesheet" href="#" /> -->
  </head>

  <body>
    <!-- TODO: 결과 페이지 완성 -->
    <img src="<%=path%>" alt="" width="200" height="200" />
    <h3><%=id%>님 환영합니다.</h3>
    <p><%=pw%>비밀번호</p>
    <p><%=name%>이름</p>
    <p><%=age%>나이</p>
  </body>
</html>
